extends layout

block content

    body.regist 
        .container
            h2.reg REGISTER CAR HERE!
            #form-wrapper
                form#car-reg(action='/cartracking' method='POST')
                    input#numberPlate.numberPlate(type='text' name='numberPlate' placeholder='Number-Plate')
                    br
                    small#error3
                    br
                    .container2
                        input#date.date(type='date' name='today' placeholder='date')
                        br
                        small#errorDate
                        br
                        select#carType(name='carType')
                            option(value='CarType') Car-Type
                            option(value='small') Small Car
                            option(value='medium') Medium Car
                            option(value='truck') Truck
                            option(value='bodaboda') Boda boda
                        br
                        small#errorType
                        br
                        select#washer(name='washer')
                            option(value='washer') Washer
                            option(value='cyrus') Cyrus
                            option(value='alvin') Alvin
                            option(value='musa') Musa
                            option(value='shafik') Shafik
                        br
                        small#errorWasher
                        br
                    .container3
                        input#time.arrival-time(type='text' name='time' placeholder='Time of Arrival')
                        br
                        small#errorTime
                        br
                        input#color.color(type='text' name='color' placeholder='Car-color')
                        br
                        small#errorColor
                        br
                        select#package(name='package')
                            option(value='package') Wash package
                            option(value='small') Small(10,000)
                            option(value='CarType') Medium(15,000)
                            option(value='CarType') Full Wash(20,000)
                            option(value='CarType') Engine(10,000)
                            option(value='CarType') Boda boda(5,000)
                            option(value='CarType') Truck(20,000)
                        br
                        small#errorPackage
                        br
                    
                    button.button2(type='submit') REGISTER
                            
