extends layout

block content

    body.regist 
        if alert=='success'
            div.alert.alert-success Car registered successfully!
        if alert=='error'
            div.alert.alert-danger OOPS! something went wrong!
        .container
            h2.reg REGISTER CAR HERE!
            #form-wrapper
                form#car-reg(action='/cartracking' method='POST')
                    input#numberPlate.numberPlate(type='text' name='numberPlate' placeholder='Number-Plate')
                    br
                    small#error3
                    br
                    .container2
                        input#date.date(type='date' name='today' placeholder='date')
                        br
                        small#errorDate
                        br
                        select#carType(name='carType')
                            option(value='CarType') Car-Type
                            option(value='small') Small Car
                            option(value='medium') Medium Car
                            option(value='truck') Truck
                            option(value='bodaboda') Boda boda
                        br
                        small#errorType
                        br
                        select#washer(name='washer')
                            each washer in washers
                                 option(value=washer._id) #{washer.fullnames}   
                        br
                        small#errorWasher
                        br
                    .container3
                        input#time.arrival-time(type='time' name='time' placeholder='Time of Arrival')
                        br
                        small#errorTime
                        br
                        input#color.color(type='text' name='color' placeholder='Car-color')
                        br
                        small#errorColor
                        br
                        select#package(name='package')
                            option(value='package') Wash package
                            option(value='smallcars') Small Cars(10,000)
                            option(value='medium') Medium(15,000)
                            option(value='fullwash') Full Wash(20,000)
                            option(value='engine') Engine(10,000)
                            option(value='bodaboda') Boda boda(5,000)
                            option(value='truck') Truck(20,000)
                        br
                        small#errorPackage
                        br
                    
                    button.button2(type='submit') REGISTER
                            
