extends layout 

block content 

    body.dash 
        .container-tables
                h2 Earnings tracker
                table.table2
                    thead.thead
                        tr
                            th(scope='col') Washer
                            th(scope='col') Cars washed
                            th(scope='col') Amount due
                        tbody
                        if washers.length 
                            each washer in washers
                                tr
                                    td #{washer.details[0].fullnames}
                                    td #{washer.count}  
                                    
                                

                
                        

                h2 Costs tracker
                table.table2
                    thead.thead
                        tr
                            th(scope='col') Date
                            th(scope='col') Item
                            th(scope='col') Amount spent
                        tbody
                        tr
                            td
                                input(type='date' placeholder='Date')
                            td
                                input(type='text' placeholder='Item')
                            td
                                input(type='number' placeholder='Cost')
                        tr
                            td
                                input(type='date' placeholder='Date')
                            td
                                input(type='text' placeholder='Item')
                            td
                                input(type='number' placeholder='Cost')
                       
