extends layout 

block content 

    body.dash
        .container-tables
                h2 Washers' Earnings 
                form.search(action='/dashboard')
                    div.form-row 
                        div.col 
                            input(type='date' name='searchdate' value='defaultDate')
                        div.col
                            input.btn.btn-primary(type='submit')
                table.table2
                    thead.thead
                        tr
                            th Washer
                            th Cars Washed
                            th Amount due
                        tbody
                        if washers.length 
                            each washer in washers
                                tr
                                    td #{washer.details[0].fullnames}
                                    td #{washer.count}  
                                    td #{washer.totalPayout}
                            tr 
                                th(colspan=2) Total Payout 
                                th #{new Intl.NumberFormat().format(sumPayout.totalPayoutPerDay)} 
            
        a(href="/costs")
            button.btn.btn-primary(type='button') View Expenses               