extends layout 

block content 

    body.dash 
        .container
                h2 Earnings tracker
                table.table
                    thead.thead-dark
                        tr
                            th(scope='col') Washer
                            th(scope='col') Cars washed
                            th(scope='col') Amount due
                        tbody
                        tr
                            td
                                input(type='text' placeholder='Name')
                            td
                                input(type='number' placeholder='Cars washed')
                            td
                                input(type='currency' placeholder='Amount Due')

                        tr
                            td
                                input(type='text' placeholder='Name')
                            td
                                input(type='number' placeholder='Cars washed')
                            td
                                input(type='currency' placeholder='Amount Due')
                        tr
                            td
                                input(type='text' placeholder='Name')
                            td
                                input(type='number' placeholder='Cars washed')
                            td
                                input(type='currency' placeholder='Amount Due')
                h2 Costs tracker
                table.table
                    thead.thead-dark
                        tr
                            th(scope='col') Date
                            th(scope='col') Item
                            th(scope='col') Amount spent
                        tbody
                        tr
                            td
                                input(type='date' placeholder='Date')
                            td
                                input(type='text' placeholder='Item')
                            td
                                input(type='number' placeholder='Cost')
                        tr
                            td
                                input(type='date' placeholder='Date')
                            td
                                input(type='text' placeholder='Item')
                            td
                                input(type='number' placeholder='Cost')
                        tr
                            td
                                input(type='date' placeholder='Date')
                            td
                                input(type='text' placeholder='Item')
                            td
                                input(type='number' placeholder='Cost')
