extends layout 

block content 

    body.regist
        h2.reg INVENTORY CAPTURE
        form.inventory(name='inventory' action='/inventory' method='POST')
            
            input#date(type="date" name='doi' placeholder='Date')
            br
            br
            select#inventory(name='item')
                            option(value='item') Item
                            option(value='detergent') Detergent
                            option(value='electricity') Electricity
                            option(value='water') Water
                            option(value='polish') Polish
            br
            br
            input#price(type="number" name='price' placeholder='Price')
            br
            br
            button.button2(type='Submit') Capture

