extends layout 

block content
    body.dash
        .container-login 
            .container
                h1 ZAWASH
                form(action='/login' method='POST' onsubmit="validation();")
                    h4.sign-in SIGN IN!
                    .form-floating
                        small#error1
                        input#exampleInputEmail1.form-control(type='email' name='email' aria-describedby='emailHelp' placeholder='Email Address')
                    br
                    .form-floating
                        small#error2
                        input#exampleInputPassword1.form-control(type='password' name='psw' placeholder='Password')
                    br
                    .form-floating.form-check
                        input#exampleCheck1.form-check-input(type='checkbox')
                        label.form-check-label(for='exampleCheck1') Keep me logged in
                    br
                    button.btn.btn-primary(type='submit') Login
                    br
                    a(href='#') Forgot password?
        
